.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.title {
  color: var(--text-bold);
  font-size: 26px;
  font-weight: 700;
}

.themeBtn {
  background: none;
  border: none;
  color: var(--text-light);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}

.themeBtn:hover {
  color: var(--text-bold);
}

.icon {
  font-size: 16px;
}